.u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("../../images/background1.jpg");
}

.u-section-1-1 .u-sheet-1 {
  min-height: 607px;
}

.u-section-1-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 174px auto 0 200px;
}

.u-section-1-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 16px 221px 0 185px;
}

.u-section-1-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 27px 401px 0 578px;
}

.u-section-1-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: -39px auto 60px 408px;
}

@media (max-width: 1199px) {
  .u-section-1-1 {
    background-position: 50% 50%;
  }

  .u-section-1-1 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-1-1 .u-text-1 {
    width: auto;
    margin-top: 209px;
    margin-left: auto;
  }

  .u-section-1-1 .u-text-2 {
    width: 720px;
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1-1 .u-text-3 {
    width: auto;
    margin-top: 37px;
    margin-right: 341px;
    margin-left: 438px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-bottom: 0;
    margin-left: 294px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-1-1 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-1-1 .u-text-3 {
    margin-top: 30px;
    margin-right: 200px;
    margin-left: 360px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-left: 192px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 72px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-1 .u-text-2 {
    width: auto;
    margin-top: 21px;
    margin-right: 15px;
    margin-left: -15px;
  }

  .u-section-1-1 .u-text-3 {
    margin-top: 28px;
    margin-right: 110px;
    margin-left: 270px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-top: -14px;
    margin-bottom: -208px;
    margin-left: 105px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 292px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 57px;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-1 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 19px;
    margin-right: 23px;
    margin-left: 157px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-top: -30px;
    margin-bottom: 54px;
    margin-left: 58px;
    padding: 5px 15px 6px 13px;
  }
}.u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("../../images/background1.jpg");
}

.u-section-1-2 .u-sheet-1 {
  min-height: 607px;
}

@media (max-width: 1199px) {
  .u-section-1-2 {
    background-position: 50% 50%;
  }

  .u-section-1-2 .u-sheet-1 {
    min-height: 572px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 543px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 451px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 284px;
  }
}.u-block-298f-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-298f-3 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + -72px);
  width: 57px;
  height: 57px;
  background-image: none;
  top: 280px;
  right: auto;
}

.u-block-298f-4 {
  background-image: none;
  width: 57px;
  height: 57px;
  left: auto;
  top: 263px;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-block-298f-3 {
    left: calc(((100% - 940px) / 2)  + -59px);
  }
}

@media (max-width: 991px) {
  .u-block-298f-3 {
    left: calc(((100% - 720px) / 2)  + -45px);
  }
}

@media (max-width: 767px) {
  .u-block-298f-3 {
    left: calc(((100% - 540px) / 2)  + -34px);
  }
}

@media (max-width: 575px) {
  .u-block-298f-3 {
    left: calc(((100% - 340px) / 2)  + -21px);
  }
}.u-section-2 {
  min-height: 499px;
}

.u-section-2 .u-list-1 {
  margin-top: 56px;
  margin-bottom: 26px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 388px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 80px;
  width: 80px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 2px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 80px;
  width: 80px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 2px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 80px;
  width: 80px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 320px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 735px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    margin-top: 26px;
    margin-bottom: 56px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 991px;
    grid-gap: 10px 10px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-3 {
  min-height: 338px;
}

.u-section-3 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  min-height: 338px;
}

.u-section-3 .u-container-layout-1 {
  padding: 19px 21px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 22px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 395px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    margin-bottom: 2px;
    min-height: 337px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 211px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 130px;
  }
}